html {
    box-sizing: border-box;
}
*, *:before , *:after {
    box-sizing: inherit;
}
#game-container {
    width : 50rem;
    height: 10rem;
    border: 2px solid black;
    position: relative;
}

.paddle {
    height : 2rem;
    width: 10px;
    margin-left: 2px;
    background-color: blue;
    position: absolute;
}
#ball {
    background-color: red;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    position: absolute;
}
