html {
    box-sizing: border-box;
}
*, *:before , *:after {
    box-sizing: inherit;
}
.game-container {
    width : 50%;
height: 5rem;
border: 2px solid black;}

.paddle {
    height : 10px;
    width: 10px;
    margin-left: 2px;
}
